<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
        <hr />
        <center>
            <h4>
                Made with <i class="glyphicon glyphicon-heart"></i> from <br />
                <a href="https://www.python.org/">Python</a> &middot;
                <a href="https://getbootsrap.com/">Bootstrap</a>
                </h4>
            <p>&copy; 2015 Python Developers Baroda</p>
        </center>
    </div>
</footer>
</body>
</html>
