<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <title>PyDB &middot; Python Developers Baroda</title>
    </head>
    <body>
        <nav class="navbar navbar-primary">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                  <img src="{{url_for('static',filename='python-logo-large.png')}}" />
                  PyDB
              </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav">
                <li><a href="about"><i class="fa fa-fw fa-info-circle"></i> About Us</a></li>
                <li><a href="resources"><i class="fa fa-fw fa-briefcase"></i> Resources</a></li>
                <li><a href="connect"><i class="fa fa-fw fa-rss"></i> Connect With Us</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.python.org/"><i class="fa fa-fw fa-external-link"></i> Python Website</a></li>
              </ul>
            </div>
          </div>
        </nav>
