body
{
    font-family:'Source Sans Pro';
}
.navbar
{
    margin:0px;
    border-radius:0px;
    color:#eee;
    background-color:#2b5b84;
}
.navbar a
{
    color:#eee;
}
.navbar-brand
{
    height:70px;
}
.navbar-brand > img
{
    height:100%;
    display:inline-block;
}
.navbar-nav > li > a
{
    height:70px;
    line-height:40px;
}
.navbar-nav > li > a:hover, a:focus
{
    background-color:#205175;
}
.navbar-brand:hover
{
    background-color:#205175;
}
.home-header, .home-header .jumbotron
{
    background-color:#2b5b84;
    color:#eee;
}
.common-header, .common-header .jumbotron
{
    background-color:#2b5b84;
    color:#eee;
    padding:0px;
}
.home-header .jumbotron
{
    padding-top:100px;
    padding-bottom:100px;
}
.jumbotron small
{
    color:#aaa;
}
footer
{
    padding:40px;
    margin-bottom:0px;
    margin-top:20px;
    height:200px;
    background-color:#eee;
}
footer a:link,a:visited,a:active,a:hover
{
    text-decoration:none;
    background:#eee;
}
p
{
    font-size:20px;
}
.navbar-toggle .icon-bar
{
    background-color:#fff;
}
